body {
    padding-top: 70px;
}

footer {
    padding: 20px 0;
}

blockquote {
    border-left: 4px solid darkgray;
    margin-left: 10px;
    padding-left: 10px;
    background: ghostwhite;
    padding-top: 0.5em;
    padding-bottom: 0.01em;
}

table tr {
    border-bottom: solid 1px;
}

table {
    margin: auto;
    width: 85%;
}
