---
layout: default
---

<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ site.title }}</h1>
            <p class="lead text-muted">{{ site.description}}</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>
</div>

<div class="container">
    <main class="page-content" aria-label="Content">
        <div class="post-content">
        {{ content }}
        </div>
    </main>
</div>
